@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{margin: 0px;padding: 0px;}
.bg{background-color: #f5f5f5;}
.flex{
    display: flex;
}
.com-width{width: 1280px;
    margin: auto;}
.nav button, .common{border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    color: rgba(0, 106, 80, 1);
    padding:15px 30px ;
    font-size: 18px;
    font-weight: 600;}
.nav h2{
    color: rgba(14, 14, 14, 1);
    font-size: 32px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
}
.hero-text{
    margin: 117px 60px;
}
.hero-text h3{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.hero-text h1{
    margin: 16px 0px 24px;
    stroke-width: 700;
    font-size: 56px;
    width: 622px;
}
.hero-text button{
    background-color: rgba(0, 106, 80, 1);
}
.hero-text button, .main-fe button{
    font-weight: 600;
    border-radius: 8px;
    color: white;
    padding: 17px 34px;
    font-size: 18px;
    border: none;
}
.hero-main{
    align-items: center;
    background-color: #c6e4d6;
    border-radius: 24px;
}
.hero-main img{
    margin: 80px 0px;
}
.item div{
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.item{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.item div {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    background-color: white;
}
.item div h3{
    margin: 24px 0px 12px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.main-item h1{
    padding: 80px 0px 32px;
    font-size: 40px;
    font-weight: 700;
}

.feture-text h1{
    padding: 80px 0px 24px;
    font-size: 40px;
    font-weight: 700;
}
.feture-text p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    padding-bottom:32px ;
}
.main-fe button{font-size: 16px;}
.main-fe p{
    font-size:16px ;
    color: rgba(14, 14, 14, 0.7);
    padding: 12px 0px 24px;
}
.main-fe h3{
    font-size: 20px;
}
.fst{background-color: rgba(84, 144, 245, 1);}
.sec{background-color: rgba(9, 161, 92, 1);}
.trd{background-color:rgba(255, 194, 57, 1)}
.fst-co{
    background-color: #d5e1f5 !important;
}
.sec-co{
    background-color: #c6e4d6 !important;
}
.trd-co{
    background-color: #f7ebcf !important;
}
.cote {
    padding: 48px 24px;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 10px;
}
.cote h5{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
}
.cote h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0px 4px;
}
.cote p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}
.code-bg{
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    
}
.cote-sec{
    padding: 32px 0px 80px;
}
.dis-fx  {
    border-radius: 24px;
}
.display p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px 0px 32px;
}
.display h1{
    font-size: 40px;
}
.space{
    border-radius: 24px;
}
.dis-fx h1{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.dis-fx{
    display: flex;
    align-items: center;
    padding: 34px;
    background-color: white;
    gap: 32px;
}
.txt-im img{
    margin: 12px 0px 12px;
}
.txt-im div{
    display: flex;
    gap: 12px;
}
.txt-im button{
    background-color: rgba(0, 106, 80, 1);
    color: white;
}
.txt-im div p{
    margin: 0px;
}
.prag{
    font-size: 16;
    color: rgba(14, 14, 14, 0.7);
    margin: 12px 0px 31px;
}
.dis-sec{
    margin-top: 24px ;
}
.margin{
    padding-bottom: 80px;
}
.donet p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    text-align: center;
    margin: 24px 30px 32px;
}
.donet h1{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.hover{
    display: flex;
    gap: 24px;
    margin: 32px 55px;
}
.hover div h1{
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
    font-size: 40px;
}
.hover div:hover{background-color: #c6e4d6;}
.hover div{
    background-color: white;
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-bottom: 80px;
}
.text input {
    width: 1032px;
    border: none;
    padding: 20px 0px;
    margin: auto;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    margin-bottom: 32px;
}
.text button{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 17px 34px;
    width: max-content;
    margin: auto;
}
.footer{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
}
.foo-pa p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    text-align: center;
    max-width: 644px;
    padding: 16px 0px 24px;
}
.foo-pa h1{font-weight: 700;
    font-size: 40px;}
.foo-pa{
    padding:80px 265px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foo-pa input{
    font-size: 16px;
}
.sub{width: 750px;}
.input{
    margin-right: -6px;
    padding: 18px 380px 18px 40px;
    border-radius: 8px 0px 0px 8px;
    font-size: 16px;
    color:#b7b7b7;
    border: none;
    background-color: white ;
}
.input-se{
    padding: 18px 40px;
    border-radius: 0px 8px 8px 0px;
    background-color: #006a50;
    font-size: 18px;
    font-weight: 600;
    color: white !important;
    border: none;
}